<form method="post" action="{F_CONFIG}" name="post">
<table border="0" width="100%" cellspacing="1" cellpadding="2">
            <tr>
                 <th align="center" colspan="2">{L_GENERAL}</th>
            </tr>
            <tr>
                <td class="row2">{L_SOURCE}</td>
                <td class="row1">
                    <select name="source" class="input">
                    <!-- BEGIN source_row -->
                        <option value="{source_row.VALUE}"{source_row.SELECTED}>{source_row.OPTION}</option>
                    <!-- END source_row -->
                    </select>
                </td>
            </tr>
            <tr>
                <td width="60%" class="row2">{L_ZONEINFO}</td>
                <td width="40%" class="row1">
                    <select size="1" name="zoneInfo">
                        <option value="rname" {ZONEINFO_SEL_RNAME}>{L_RNAME}</option>
                        <option value="rnote" {ZONEINFO_SEL_RNOTE}>{L_RNOTE}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="60%" class="row2">{L_BOSSINFO}</td>
                <td width="40%" class="row1">
                    <select size="1" name="bossInfo">
                        <option value="rname" {BOSSINFO_SEL_RNAME}>{L_RNAME}</option>
                        <option value="rnote" {BOSSINFO_SEL_RNOTE}>{L_RNOTE}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td width="10%" class="row2">{L_NOTEDELIM}</td>
                <td width="90%" class="row1"><input type="text" name="notedelim" size="32" value="{BP_NOTEDELIM}" class="input" /></td>
            </tr>
            <tr>
                <td width="60%" class="row2">{L_NAMEDELIM}</td>
                <td width="40%" class="row1"><input type="text" name="namedelim" size="32" value="{BP_NAMEDELIM}" class="input" /></td>
            </tr>
            <tr>
                <td width="60%" class="row2">{L_TABLES}</td>
                <td width="40%" class="row1"><input type="text" name="tables" size="32" value="{BP_TABLES}" class="input" /></td>
            </tr>
</table>
<br />
<br />
<table border="0" width="100%" cellspacing="1" cellpadding="2">
            <tr>
                 <td class="row2">{L_ITEMLANG}</td>
                 <td class="row1">
                    <select name="itemlang" class="input">
                    <!-- BEGIN itemlang_row -->
                        <option value="{itemlang_row.VALUE}"{itemlang_row.SELECTED}>{itemlang_row.OPTION}</option>
                    <!-- END itemlang_row -->
                    </select>
                </td>
            </tr>
            <tr>
                 <td class="row2">{L_ITEMQUAL}</td>
                 <td class="row1">
                    <select name="itemqual" class="input">
                    <!-- BEGIN itemqual_row -->
                        <option value="{itemqual_row.VALUE}"{itemqual_row.SELECTED}>{itemqual_row.OPTION}</option>
                    <!-- END itemqual_row -->
                    </select>
                </td>
            </tr>
            <tr>
                <td width="70%" class="row2">{L_NDL}</td>
                <td width="30%" class="row1"><input type="checkbox" name="ndl" value="1" {BL_NDL} /></td>
            </tr>


            <tr>
                <td width="30%" class="row2">{L_WL}</td>
                <td width="70%" class="row1"><input type="checkbox" name="wl" value="1" {BL_WL} /></td>
            </tr>
            <tr>
                <td width="70%" class="row2">{L_IS}</td>
                <td width="30%" class="row1"><input type="checkbox" name="is" value="1" {BL_IS} /></td>
            </tr>
</table>
<br />
<br />
<table border="0" width="100%" cellspacing="1" cellpadding="2">
			<tr>
   				 <th align="center" colspan="2">{L_GENERAL}</th>
			</tr>
			<tr>
				<td width="60%" class="row2">{L_ZHITYPE}</td>
				<td width="40%" class="row1">
					<select size="1" name="zhiType">
						<option value="0" {ZHITYPE_SEL_JITTER}>{L_JITTER}</option>
						<option value="1" {ZHITYPE_SEL_BW}>{L_BW}</option>
						<option value="2" {ZHITYPE_SEL_NONE}>{L_NONE}</option>
					</select>
				</td>
			</tr>
			<tr>
				 <td class="row2">{L_STYLE}</td>
				 <td class="row1">
				 	<select name="style" class="input">
					<!-- BEGIN style_row -->
						<option value="{style_row.VALUE}"{style_row.SELECTED}>{style_row.OPTION}</option>
					<!-- END style_row -->
					</select>
				</td>
			</tr>
			<tr>
				<td width="70%" class="row2">{L_SHOWSB}</td>
				<td width="30%" class="row1"><input type="checkbox" name="showSB" value="1" {BP_SHOWSB} /></td>
			</tr>


			<tr>
				<td width="30%" class="row2">{L_DYNLOC}</td>
				<td width="70%" class="row1"><input type="checkbox" name="dynloc" value="1" {BP_DYNLOC} /></td>
			</tr>
			<tr>
				<td width="70%" class="row2">{L_DYNBOSS}</td>
				<td width="30%" class="row1"><input type="checkbox" name="dynboss" value="1" {BP_DYNBOSS} /></td>
			</tr>
</table>
<br />
<br />
<table border="0" width="100%" cellspacing="1" cellpadding="2">
			<tr>
   				 <th align="center" colspan="2">{L_GENERAL}</th>
			</tr>
			<tr>
			<tr>
				<td width="30%" class="row2">{L_DYNLOC}</td>
				<td width="70%" class="row1"><input type="checkbox" name="dynloc" value="1" {BP_DYNLOC} /></td>
			</tr>
			<tr>
				<td width="70%" class="row2">{L_DYNBOSS}</td>
				<td width="30%" class="row1"><input type="checkbox" name="dynboss" value="1" {BP_DYNBOSS} /></td>
			</tr>
</table>
<br />
<br />
<table width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <th align="center" colspan="2">{L_PINFO}</th>
    </tr>
    <tr>
        <td>{PARSE_CONFIG}</td>
    </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
 <tr><th align="center" colspan="2"><input type="submit" name="bpsavebu" value="{L_SUBMIT}" class="mainoption" /></th></tr>
</table>
</form>
{CREDITS}
