<form method="post" action="{F_CONFIG}" name="post">
<table border="0" width="100%" cellspacing="1" cellpadding="2">
            <tr>
                 <td class="row2">{L_ITEMLANG}</td>
                 <td class="row1">
                    <select name="itemlang" class="input">
                    <!-- BEGIN itemlang_row -->
                        <option value="{itemlang_row.VALUE}"{itemlang_row.SELECTED}>{itemlang_row.OPTION}</option>
                    <!-- END itemlang_row -->
                    </select>
                </td>
            </tr>
            <tr>
                 <td class="row2">{L_ITEMQUAL}</td>
                 <td class="row1">
                    <select name="itemqual" class="input">
                    <!-- BEGIN itemqual_row -->
                        <option value="{itemqual_row.VALUE}"{itemqual_row.SELECTED}>{itemqual_row.OPTION}</option>
                    <!-- END itemqual_row -->
                    </select>
                </td>
            </tr>
            <tr>
                <td width="70%" class="row2">{L_NDL}</td>
                <td width="30%" class="row1"><input type="checkbox" name="ndl" value="1" {BL_NDL} /></td>
            </tr>


            <tr>
                <td width="30%" class="row2">{L_WL}</td>
                <td width="70%" class="row1"><input type="checkbox" name="wl" value="1" {BL_WL} /></td>
            </tr>
            <tr>
                <td width="70%" class="row2">{L_IS}</td>
                <td width="30%" class="row1"><input type="checkbox" name="is" value="1" {BL_IS} /></td>
            </tr>
</table>
<table width="100%" border="0" cellspacing="1" cellpadding="2">
 <tr><th align="center" colspan="2"><input type="submit" name="bpsavebu" value="{L_SUBMIT}" class="mainoption" /></th></tr>
</table>
</form>
<br />
<center><span class='copy'>
  {BL_CREDITS}
  <br />{BL_LL_CREDITS}
  <br />{BL_BI_CREDITS}
</span></center>
