<script type="text/javascript" src="./../include/javascripts/prototype.js"></script>
<script type="text/javascript" src="./../include/javascripts/effects.js"></script>
<script type="text/javascript" src="./../include/javascripts/accordion.js"></script>


<script type="text/javascript">
Event.observe(window, 'load', loadAccordions, false);  
function loadAccordions() {  
    var offsetAccordion = new accordion('vertical_container'); 
    offsetAccordion.activate($$('#vertical_container .accordion_toggle')[0]);
}

</script>

<form method="post" action="{F_CONFIG}" name="post">
<table border="0" width="100%" border="0" cellspacing="1" cellpadding="2">
    <tr>
        <th align="center" colspan="2">{L_OFFSET_INFO}</th>
    </tr>
    <tr>
        <td>{OFFSET_CONFIG}</td>
    </tr>
</table>

<table width="100%" border="0" cellspacing="1" cellpadding="2">
 <tr><th align="center" colspan="2"><input type="submit" name="bpsavebu" value="{L_SUBMIT}" class="mainoption" /></th></tr>
</table>
</form>
{CREDITS}
